@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #444444;
}

canvas {
  position: absolute;
  z-index: 1;
}

div#base {
  font-family: "Playfair Display", serif;
  font-size: 1.2em;
  line-height: 1.5em;
  position: absolute;
  left: calc(50vw - 225px);
  z-index: 2;
  background-color: white;
  width: 450px;
  height: 450px;
  display: none;
}
